.allStyle {

    display: flex;
    justify-content: center;
    margin-top: 3em;
    
}

.titleStyle {

    color: green;
    font-weight: 900;
    font-size: 24px;

}

.section1Style {

    margin: 0 10% 0 10%;

}

.divItems {

    display: flex;
    justify-content: center;

}

.imgStyle {

    width: 200px;

}

.namesStyle {

    box-shadow: 0px 0px 2px 0px black;
    padding: 5px;
}

.divItem {

    position: relative;
    top: 3em;

}